* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    width: 100%;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    background-color: #573589;

}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    padding-bottom: 7px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: white;
    width: 0;
    border-radius: 70px;
    transition: 1s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav img {
    width: 55px;
}

nav button {
    padding: 7px 4px;
    width: 100px;
    cursor: pointer;
    color: #573589;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
}

nav button a {
    color: #573589;
}

.waves {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.hero {
    width: 100%;
    position: relative;
    top: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.hero .right {
    width: 35%;
    overflow: hidden;
}

.hero .right img {
    width: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 5px solid #573589;
}

.hero .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero .left h1 {
    font-size: 40px;
    color: #573589;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero .left p {
    font-size: 19px;
    color: #333;
    line-height: 1.5;
}

@media (max-width:1020px) {
    nav ul li a {
        gap: 1px;
    }
}

@media (max-width:992px) {
    nav ul {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 70px;
    }


    .hero .right,
    .hero .left {
        width: 90%;
        text-align: center;
    }

}