@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("photos/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first {
  background: transparent;
  border: 2px solid rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  color: #fff;
  border-radius: 15px;
  padding: 30px 40px;
}

.first h1 {
  font-size: 36px;
  text-align: center;
}
.first .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgpa(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}

.remember-forget label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forget a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.first .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.first .btn a {
  text-decoration: none;
  color: #333;
}

p {
  text-align: center;
  font-size: 14.5;
  margin: 20px 0 15px;
}

p a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
